@model BLL.DTOs.Property.FloorDto

<h2>Floor Details</h2>

<div class="card p-3">

    <p>
        <b>Floor ID:</b> @Model.Id
    </p>

    <p>
        <b>Block ID:</b> @Model.BlockId
    </p>

    <p>
        <b>Floor Name:</b> @Model.FloorName
    </p>

    <p>
        <b>Total Rooms:</b> @Model.TotalRooms
    </p>

</div>

<br />

<a asp-action="Edit"
   asp-route-id="@Model.Id"
   class="btn btn-warning">
    Edit
</a>

<a asp-action="Index"
   asp-route-blockId="@Model.BlockId"
   class="btn btn-secondary">
    Back
</a>